body {
  font-family: "Open Sans", sans-serif;
}



header img {
  width: 1120px;
}

.head-line {
  color: #E1624F
}

#container {
  width: 1120px;
  height: 3054px;
  box-sizing: border-box;
  margin: 137px auto;
}